---
http_interactions:
- request:
    method: get
    uri: http://api10.towerdata.com/person?correct=email&email=emrslkvn.lfnvfl@dklsmns.com&license=5eEczAXe9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"email":{"ok":false,"validation_level":2,"status_code":310,"status_desc":"Domain
        does not exist","address":"emrslkvn.lfnvfl@dklsmns.com","username":"emrslkvn.lfnvfl","domain":"dklsmns.com","domain_type":null,"role":false},"status_code":10,"status_desc":"Success"}'
  recorded_at: Thu, 23 Oct 2014 17:51:13 GMT
recorded_with: VCR 2.9.3
