---
http_interactions:
- request:
    method: get
    uri: http://api10.towerdata.com/person?correct=email&email=andrew.fallows@elocal.com&license=5eEczAXe9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"email":{"ok":true,"validation_level":2,"status_code":45,"status_desc":"Domain
        does not support validation (accepts all mailboxes)","address":"andrew.fallows@elocal.com","username":"andrew.fallows","domain":"elocal.com","domain_type":null,"role":false},"status_code":10,"status_desc":"Success"}'
  recorded_at: Thu, 23 Oct 2014 17:51:13 GMT
recorded_with: VCR 2.9.3
